Data Driven Data Factory/adf/pipeline/example_1_databases.json
{
	"name": "example_1_databases",
	"properties": {
		"activities": [
			{
				"name": "databases",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select name as databasename from sys.databases where name <> 'master';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlsrv_source_demo",
						"type": "DatasetReference",
						"parameters": {
							"fqdn": {
								"value": "@pipeline().parameters.fqdn",
								"type": "Expression"
							},
							"databasename": "master"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "forach_database",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "databases",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('databases').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "execute example_1_tables pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "example_1_tables",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"fqdn": {
										"value": "@pipeline().parameters.fqdn",
										"type": "Expression"
									},
									"databasename": {
										"value": "@item().databasename",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fqdn": {
				"type": "string"
			}
		},
		"folder": {
			"name": "demo/example 1"
		},
		"annotations": [],
		"lastPublishTime": "2025-02-22T15:23:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}