Data Driven Data Factory/adf/pipeline/example_3_databases.json
{
	"name": "example_3_databases",
	"properties": {
		"activities": [
			{
				"name": "databases",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select name as databasename from sys.databases where name <> ''master'' ', pipeline().parameters.and_databases)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlsrv_source_demo",
						"type": "DatasetReference",
						"parameters": {
							"fqdn": {
								"value": "@pipeline().parameters.fqdn",
								"type": "Expression"
							},
							"databasename": "master"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "forach_database",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "databases",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('databases').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "execute example_3_tables pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "example_3_tables",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"fqdn": {
										"value": "@pipeline().parameters.fqdn",
										"type": "Expression"
									},
									"databasename": {
										"value": "@item().databasename",
										"type": "Expression"
									},
									"and_modified_1": {
										"value": "@pipeline().parameters.and_modified_1",
										"type": "Expression"
									},
									"and_modified_2": {
										"value": "@pipeline().parameters.and_modified_2",
										"type": "Expression"
									},
									"and_tables": {
										"value": "@pipeline().parameters.and_tables",
										"type": "Expression"
									},
									"highwatermark_folder": {
										"value": "@pipeline().parameters.highwatermark_folder",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "new highwatermark",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "forach_database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_sqldb_metadata_demo",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "@concat('update adf_metadata set change_date = ''', pipeline().parameters.new_highwatermark, ''' where id = ', string(pipeline().parameters.id))",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"fqdn": {
				"type": "string"
			},
			"and_databases": {
				"type": "string"
			},
			"and_modified_1": {
				"type": "string"
			},
			"and_modified_2": {
				"type": "string"
			},
			"and_tables": {
				"type": "string"
			},
			"id": {
				"type": "int"
			},
			"new_highwatermark": {
				"type": "string"
			},
			"highwatermark_folder": {
				"type": "string"
			}
		},
		"folder": {
			"name": "demo/example 3"
		},
		"annotations": [],
		"lastPublishTime": "2025-03-14T15:34:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}